{% extends 'base.html' %}

{% block content %}
<h1 class="text-center text-body"> Chi tiết sản phẩm </h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src=" {{ products.image }}" alt="{{ products.name }}">
        </div>
        <div class="col-md-8">
            <h1>{{ products.name }}</h1>
            <p>{{ products.description}}</p>
            <h3 class="text-danger">{{ products.price }} VNĐ</h3>
        </div>
    </div>

</div>

{% endblock %}


